<tr id="<%= dom_id task %>">
  <td><%= task.id %></td>
  <td><%= task.public_id %></td>
  <td><%= task.account.full_name %></td>
  <td><%= task.description %></td>
  <td><%= task.status %></td>
</tr>
